body {
	margin: 0;
	padding: 0;
	background-color: #fff;
}

.nav {
	height: 60px;
}

.navbar-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.sidebar label {
	width: 100%;
	height: 50px;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	font-size: 18px;
	color: #000;
	font-weight: bold;
	text-align: center;
	line-height: 50px;
}

.sidebar label > i {
	display: none;
}

.sidebar #searchbox {
	display: none;
}

.sidebar ul {
	display: block;
	max-width: 130%;
	margin-left: -40px;
	margin-top: -10px;
}

.sidebar ul li {
	list-style: none;
	border: 1px solid #ced4da;
}

.sidebar .searchbox-item-title {
	background-color: #ececec;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
}

.sidebar .searchbox-item {
	padding: 10px 5px;
}

.content {
	padding-left: 20px;
}

.content h2 {
	border-bottom: 2px solid #000;
}

.content form label {
	font-size: 18px;
	font-weight: bold;
}

.content hr {
	border: 2px solid #dcdcdc;
}

.profile-header {
	font-weight: bold;
	font-size: 20px;
	text-align: right;
	background-color: #222;
	color: #fff;
}

.profile-body {
	font-size: 20px;
}

.messagebox {
	width: 90%;
	border: 1px solid #000000;
	padding: 5px;
}

.messagebox p {
	margin: 0;
}

.send-messagebox {
	float: right;
}

.recieve-messagebox {
	float: left;
}

.messagebox-sender {
	font-weight: bold;
	font-size: 16px;
}

.messagebox-subject {
	font-weight: bold;
	font-size: 18px;
}

.messagebox-body {
	padding: 10px;
}

.messagebox hr {
	margin: 5px 0;
}

.messagebox-date {
	margin-bottom: 30px;
	display: block;
	clear: both;
}

.send-messagebox-date {
	float: right;
}

.recieve-messagebox-date {
	float: left;
}

.messagebox:after {
	content: "";
	display: block;
	clear: both;
}

footer {
	margin-top: 30px;
	padding-top: 20px;
	background-color: #555;
	height: 200px;
}

footer ul li {
	list-style-type: none;
}

footer ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 16px;
}

footer ul li a:hover {
	text-decoration: none;
	opacity: 0.7;
	color: #fff;
}

footer span {
	color: #fff;
	font-size: 22px;
	word-break: normal;
	display: block;
	text-align: center;
	padding: 20px 0;
}


@media screen and (max-width: 767px) {
	.sidebar label > i {
		display: inline-block;
	}

	.sidebar ul {
		height: 0;
		overflow: hidden;
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		-o-transition: all 0.5s;
	}

	#searchbox:checked ~ ul {
		height: 500px;
	}
}